.mainContainer {
  position: relative;
}

#navbar {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  z-index: 1000;
}

.anchor {
  margin: 15px;
  color: rgb(255, 255, 255);
  font-size: 70px;
  z-index: 5000;
  text-decoration: none;
  opacity: 0.7;
}
.now {
  opacity: 1;
}

.anchor:hover {
  opacity: 1;
  transition: all 0.4s ease-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.overX {
  overflow-x: hidden;
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
  width: 300%;
}

.a {
  background-color: black;
}

.mainTitle p {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px black;
  transition: all 0.8s ease-out;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: 4px;
  z-index: 1000;
  pointer-events: none;
}

.move0 + .panel + .mainTitle p {
  color: white;
  -webkit-text-stroke: 0px;
}

.move0 + .panel + .mainTitle + .profile {
  opacity: 1;
  right: 0;
}

.move1 + .mainTitle + .profile {
  opacity: 1;
}
.move1 + .mainTitle p {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px white;
}

.profile {
  position: absolute;
  top: 0;
  right: 55%;
  transition: all 0.8s ease-out;
  opacity: 0;
  width: 45%;
  height: 100%;
  background-image: url('../../static/images/profile.jpg');
  background-size: cover;
  background-position: 50%;
  z-index: 100;
  pointer-events: none;
}

.b {
  background-color: black;
}

#introBox {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
}
.introduce {
  font-size: 22px;
  font-weight: 500;
  line-height: 46px;
  color: #ffffff;
}
span {
  font-weight: 300;
}

.c {
  background-color: white;
}

#motivation {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  width: 55%;
  pointer-events: none;
}

.nx {
  background-color: aqua;
}
