.mainContainer {
  position: relative;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.overX {
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  width: 300%;
}

.a {
  background-color: red;
}

.b {
  background-color: blue;
}

.c {
  background-color: yellow;
}
