.mainContainer {
  position: relative;
}

#navbar {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  z-index: 1000;
}

.anchor {
  margin: 15px;
  color: white;
  font-size: 70px;
  z-index: 5000;
  text-decoration: none;
  opacity: 0.8;
}

.anchor:hover {
  opacity: 1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.overX {
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  width: 300%;
}

.a {
  background-color: red;
}

.b {
  background-color: blue;
}

.c {
  background-color: yellow;
}

.nx {
  background-color: aqua;
}
